.project
.cproject
autom4te.cache
config.log
config.status
environ.sh
Makefile.common
*/*.bc
*/*.ll
*/*.klee
*/*.stpklee
*/*.tx
coreutils/coreutils-6.10/autom4te.cache/requests
coreutils/coreutils-6.10/config.h.in
coreutils/coreutils-6.10/doc/coreutils.info
coreutils/coreutils-6.10/doc/stamp-vti
coreutils/coreutils-6.10/doc/version.texi
coreutils/coreutils-6.10/obj-llvm
coreutils/coreutils-6.10/obj-cov
coreutils/sandbox
coreutils/test.env
utils/treecmp
